<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup style="color: red;">
        <h1>Ошибка.</h1>
        <h2>Ошибка произошла во время выполнения запроса.</h2>
        <h3>@Model</h3>
    </hgroup>
</body>
</html>
